<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/nosotros.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <div class="oee">
            <div class="titulo">
                <h2>Diseño</h2>
                <h2 class="azul">Multimedia</h2>
            </div>

            <nav id="menu">
                <ul>
                    <li><a href="index.html" class="aaa">INICIO</a></li>
                    <li><a href="nosotros.html">NOSOTROS</a></li>
                    <li><a href="servicios.html">SERVICIOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>


        <div class="Subcribe">             
            <h4>Subscribete a nuestro boletin</h4>             
            <form>                
             <input type="email" placeholder="Ingrese el Email.">                 
             <input type="submit" value="Subscribete" class="button">             
            </form>         
    </div>
    </header>
    <main>
        <div class="tne">
            <h4 class="ioo">Nosotros</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna. Nam eget eros non orci consectetur congue at ac augue. Proin eget arcu in enim feugiat ultricies Curabitur maximus metus nec metus pretium viverra at et orci. Integer hendrerit ante ut placerat cursus</p>
            <p class="loge">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod eligendi enim ut recusandae harum ad impedit cum sapiente tenetur consectetur, alias inventore culpa vero minus quae facere voluptates aperiam quam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut eligendi facere iste tempore cumque sapiente incidunt illo, voluptates mollitia possimus magni repudiandae. Doloribus exercitationem, libero dolorem ipsam voluptates suscipit error?
            </p>
            <img src="../assets/images/891.jpg" alt="">
        </div>

        <div>
            <div class="tyu"> 
            <h4 class="uyt">que hacemos</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo tempore eius non inventore quas, alias accusamus, dolore harum illum ipsam, consequuntur quasi deleniti! Distinctio ipsum labore nemo similique corrupti vel. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, consequatur? Magnam, porro deleniti? Vero a, quas minima ab quo sapiente aliquam earum, tenetur pariatur aspernatur quibusdam, perferendis molestiae reiciendis odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores molestias nostrum quos, illum magnam suscipit a rem culpa iusto similique odio atque modi ea itaque unde. Repellendus a accusamus enim?</p>      
            </div>
            
        </div>
    </main>
    <footer>
        <p>Graphel desarrollo web, copyright  &copy; 2017</p>
    </footer>
</body>
</html>