<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/servicios.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="oee">
            <div class="titulo">
                <h2>Diseño</h2>
                <h2 class="azul">Multimedia</h2>
            </div>

            <nav id="menu">
                <ul>
                    <li><a href="index.html" class="aaa">INICIO</a></li>
                    <li><a href="nosotros.html">NOSOTROS</a></li>
                    <li><a href="servicios.html">SERVICIOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>


        <div class="Subcribe">
            <h4>Subscribete a nuestro boletin</h4>
            <form>
                <input type="email" placeholder="Ingrese el Email.">
                <input type="submit" value="Subscribete" class="button">
            </form>
        </div>
    </header>
    <main class="opn">
        <section class="opl">
            <h4 class="uyyu">servicios</h4>
            <div class="peng">
                <h4 class="tan">Diseño web</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo id, incidunt facere sequi alias
                    impedit esse excepturi! Similique eius, debitis quibusdam quis eaque quod laboriosam mollitia, hic
                    nostrum adipisci veritatis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis magni
                    architecto fuga distinctio ut corporis quibusdam odio. Nihil magni ipsam quidem. Vero iure itaque
                    animi suscipit, totam natus exercitationem non.
                </p>
            </div>

            <div class="peng">
                <h4 class="tan">Desarollo web</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quas vel nemo nulla eaque autem hic
                    ex, odit suscipit accusantium nostrum facere vero quis exercitationem consequatur atque aut impedit
                    mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae excepturi et laboriosam
                    cumque dolorum cum perferendis at tempora, consequatur repellendus blanditiis ratione nam architecto
                    quisquam doloremque? Hic aut earum sequi.</p>
            </div>

            <div class="peng">
                <h4 class="tan">Hosting web</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, odit sunt quasi natus tempora
                    tempore rem, soluta eveniet provident possimus quidem odio error aperiam perferendis quis sequi.
                    Dolore, ducimus quasi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quisquam,
                    laborum minima asperiores repellat labore. Amet ipsa officiis nam, placeat impedit aliquam soluta
                    similique consequatur ea, rem illum eaque quisquam.
                </p>
            </div>
        </section>
        <div class="tuy">
            <h4 class="yut">que hacemos</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo tempore eius non inventore quas, alias
                accusamus, dolore harum illum ipsam, consequuntur quasi deleniti! Distinctio ipsum labore nemo similique
                corrupti vel. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, consequatur?
                Magnam, porro deleniti? Vero a, quas minima ab quo sapiente aliquam earum, tenetur pariatur aspernatur
                quibusdam, perferendis molestiae reiciendis odit. Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Dolores molestias nostrum quos, illum magnam suscipit a rem culpa iusto similique odio atque modi
                ea itaque unde. Repellendus a accusamus enim?</p>
        </div>
    </main>
    <footer>
        <p>Graphel desarrollo web, copyright &copy; 2017</p>
    </footer>
</body>

</html>