*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:#1293d4;
    font-size: 15px;
    padding: 30px;
    color: white;
}

.titulo{
    border-color: rgb(173, 16, 16);
    
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

#menu a {
    color: rgb(219, 212, 212);
    text-decoration: none;
    padding: 20px 39px;
}

.titulo{
    display: flex;
}

header{
    background-color:#0d1316;
    color: white;    
}

.oee {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    border-bottom: #0099e6 5px solid;
    
}

.primera{
    background-image: url(../../assets/images/cabecera.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    font-size: 25px;
}
#menu{
    display: flex;
    align-items: center;
}

h2{
    margin-left: 10px;
}

.azul{
    color: #00aeff;
}

.segunda{
    text-align: center;
    font-size: 30px;
}

.negro{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.perro{
    width: 40vw;
    height: 20vw;
}

p{
    text-align: center;
}

h3{
    text-align: center;
}

.perro{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.Subcribe{
    padding: 20px 200px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 20px;
}

input{
    padding: 10px;
}

.button{
    border: none;
    background-color: orangered;
    color: white;
    font-family: arial;
    margin: 3px;
}


